.no-pad {
    padding: 0 !important;
}
.no-mar {
    margin: 0 !important
}
//layout styles
.sidebar-con-wrapper {
    display: flex
}
.sidebar-container {
    background-color: #060b26;
    border-top: 0.1px solid #ccc;
}
.content-wrapper {
    flex: 1 1 0%;
}