.welcome-msg {
    height: 712px !important;
    background: #e9ecef;
}
.content-title-wrapper {
    padding: 1rem;
}
.mast-title {
    padding: 1rem 0 0 0;
    font-weight: 600;
}
.btn-add {
    background-color: $add-new !important;
    color: rgb(245, 240, 240) !important;
    border-color: $add-new !important;
}